<div class="container" >
   <form class="quform" [formGroup]="newPostForm" (ngSubmit)="agregarDocente(newPostForm.value)">
   <div class="quform-elements">


      <!-- Contenido -->
      <div class="form-group row">
         <label class="col-md-3 col-form-label" for="text-input">Nombres</label>
         <div class="col-md-9">
            <input type="text"  formControlName="nombres" class="form-control" placeholder="nombres">
            <span class="help-block">*requerido</span>
         </div>
      </div>
      <div class="form-group row">
         <label class="col-md-3 col-form-label" for="text-input">Apellido Paterno</label>
         <div class="col-md-9">
            <input type="text"  formControlName="apellidoPaterno" class="form-control" placeholder="apellido paterno">
            <span class="help-block">*requerido</span>
         </div>
      </div>
      <div class="form-group row">
         <label class="col-md-3 col-form-label" for="text-input">Apellido Materno</label>
         <div class="col-md-9">
            <input type="text"  formControlName="apellidoMaterno" class="form-control" placeholder="apellido materno">
            <span class="help-block">*requerido</span>
         </div>
      </div>
      <div class="form-group row">
         <label class="col-md-3 col-form-label" for="text-input">Celular</label>
         <div class="col-md-9">
            <input type="text"  formControlName="celular" class="form-control" placeholder="Celular">

         </div>
      </div>
      <div class="form-group row">
         <label class="col-md-3 col-form-label" for="text-input">DNI</label>
         <div class="col-md-9">
            <input type="text"  formControlName="dni" class="form-control" placeholder="dni">

         </div>
      </div>

      <!-- Begin Submit button -->
      <div class="quform-submit">
         <div class="quform-submit-inner">
            <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!newPostForm.valid"><span>{{btnTexto}}</span></button>
         </div>
         <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
      </div>
   </div>
   </form>
</div>
