<div class="container" >
  	<div class="row"style="margin: 20px;">
			<div class="col">
        <div class="card">
          <h5 class="card-header">Agregar Estudiante</h5>
           <div class="card-body">
   <form class="form-horizontal" [formGroup]="newPostForm" (ngSubmit)="agregarEstudiante(newPostForm.value)" >



      <!-- Contenido -->
      <div class="form-group ">
         <label class="col-md-3 col-form-label" for="text-input">Nombres</label>
         <div class="col-md-6">
            <input type="text"  formControlName="nombres" class="form-control" placeholder="nombres">
            <span class="help-block">*requerido</span>
         </div>
      </div>
      <div class="form-group ">
         <label class="col-md-3 col-form-label" for="text-input">Apellido Paterno</label>
         <div class="col-md-6">
            <input type="text"  formControlName="apellidoPaterno" class="form-control" placeholder="apellido paterno">
            <span class="help-block">*requerido</span>
         </div>
      </div>
      <div class="form-group ">
         <label class="col-md-3 col-form-label" for="text-input">Apellido Materno</label>
         <div class="col-md-6">
            <input type="text"  formControlName="apellidoMaterno" class="form-control" placeholder="apellido materno">
            <span class="help-block">*requerido</span>
         </div>
      </div>
      <div class="form-group ">
         <label class="col-md-3 col-form-label" for="text-input">Celular</label>
         <div class="col-md-6">
            <input type="text"  formControlName="celular" class="form-control" placeholder="Celular">

         </div>
      </div>
      <div class="form-group">
         <label class="col-md-3 col-form-label" for="text-input">DNI</label>
         <div class="col-md-6">
            <input type="text"  formControlName="dni" class="form-control" placeholder="dni">

         </div>
      </div>

<div class="form-group">
         <label class="col-md-3 col-form-label" for="text-input">Curso</label>
          <div class="col-md-6">
            <select formControlName="curso" (change)="capturar()"
             class="form-select" aria-label="Default select example">
                <option value="curso">Selecciona una opción</option>
                <option [value]="curso.nombre" *ngFor="let curso of cursosList">
                  {{curso.nombre}}
                </option>
            </select>
          </div>
      </div><br>
            <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!newPostForm.valid"><span>{{btnTexto}}</span></button>


   </form>

</div>
</div>
</div>
</div>
</div>

